templates/life-os/n8n/workflow.json
{
  "meta": {
    "instanceId": "coffeegraph",
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 7 * * *" }]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 7:30 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Triggers daily at 7:30 AM — adjust timezone in n8n settings"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    skill: 'life-os',\n    task: 'daily-brief',\n    date: new Date().toISOString().split('T')[0],\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Prepare Brief Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.brief_output || 'Daily brief generation triggered.' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 200],
      "notes": "Sends the daily brief to Telegram. Set TELEGRAM_BOT_TOKEN and TELEGRAM_CHAT_ID."
    },
    {
      "parameters": {
        "sendTo": "={{ $env.BRIEF_EMAIL_TO }}",
        "subject": "☀️ Daily Brief — {{ $json.date }}",
        "message": "={{ $json.brief_output || 'Daily brief generation triggered.' }}"
      },
      "id": "email-send",
      "name": "Send via Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [650, 400],
      "notes": "Alternative: sends brief via email instead of Telegram"
    }
  ],
  "connections": {
    "Daily 7:30 AM": {
      "main": [
        [{ "node": "Prepare Brief Request", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Brief Request": {
      "main": [
        [
          { "node": "Send via Telegram", "type": "main", "index": 0 },
          { "node": "Send via Email", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
